/* Tipografia Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,800&display=swap');



/* Generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #424242;
    font-family: 'Open Sans', sans-serif;
}

section {
    height: 100vh;
    background-color: #fafafa;
}



/* Puntajes */
.puntajes {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.puntajes h2 {
    font-weight: bold;
}

.puntajes p {
    text-align: center;
    padding: 5px;
    font-size: 25px;
}



/* Tablero */
.tablero {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s ease 0.5s;
}

.tablero h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 1rem;
}

.boton-opciones {
    width: 80px;
    height: 80px;
    font-size: 20px;
    border-style: solid;
    border-width: 3px;
    border-color: #9a86a4;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.boton-opciones:hover {
    background-color: #9a86a4;
    border-color: #9a86a4;
}

.boton-opciones:focus {
    outline: 0;
}

.boton-opciones img {
    width: 60px;
}

.manos img {
    width: 200px;
    margin: 30px;
}

.manos,
.opciones {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.manos .boton-resetear {
    width: 60px;
    height: 60px;
    font-size: 20px;
    border-style: none;
    background-color: #fafafa;
    cursor: pointer;    
}

.boton-resetear i {
    font-size: 30px;
}

.boton-resetear i:hover {
    color: #9a86a4;
}



/* Reduccion de tamaño segun pantalla */
@media only screen and (max-width: 768px) {
    .manos img {
      width: 150px;
    }
  
    .puntajes h2 {
      font-size: 18px;
    }
  
    .tablero h1 {
      font-size: 28px;
    }

    .boton-resetear i {
        font-size: 20px;
    }
  
    .boton-opciones {
      width: 60px;
      height: 60px;
    }
  
    .boton-opciones img {
      width: 40px;
    }
}



/* Footer */
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    padding: 20px 0;
  }
